<p id="notice"><%= notice %></p>

<h1><%= @user.name %></h1>

<h4><%= mail_to @user.email, @user.email %></h4>

<h3><%= @user.microposts.count %> microposts</h3>

<% if @microposts.any? %>
  <ol class="microposts">
    <%= render @microposts %>
  </ol>
<% end %>
