<p id="notice"><%= notice %></p>

<h1>Microposts</h1>

<%= render 'form', micropost: @micropost %>
<% @microposts ||= [] %>
<% unless @microposts.empty? %>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Created</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @microposts.reverse_each do |micropost| %>
      <tr>
        <td><%= micropost.content %></td>
        <td><%= micropost.created_at %></td>
          <td><%= link_to micropost.user.name, 
          micropost.user unless micropost.user.nil? %></td>
        <td><%= link_to 'Show', micropost %></td>
        <td><%= link_to 'Edit',
        edit_micropost_path(micropost) if micropost.user_id != 1 %></td>
      </tr>
      <% end %>
<% else %>
      <h3>No microposts.</h3>
<% end %>
  </tbody>
</table>
