<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <b><%= link_to @micropost.user.name, @user %></b>
| Created at: <%= @micropost.created_at %></p>

<h3><%= @micropost.content %></h3>

<%= link_to 'Edit', edit_micropost_path(@micropost) %>
<%= render html: " | " %>
<%= link_to 'Back', root_path %>
