<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <b><%= link_to User.find(@micropost.user_id).name, @user %></b>
| Created at: <%= @micropost.created_at %></p>

  <p>
  <h3><%= @micropost.content %></h3>
</p>

<%= link_to 'Edit', edit_micropost_path(@micropost)  if @micropost.user_id != 1 %>
<%= render html: " | " if @micropost.user_id != 1 %>
<%= link_to 'Back', User.find(@micropost.user_id) %>
